fastapi
uvicorn[standard]
python-multipart
pytesseract
numpy
Pillow
packaging
pdf2image
gradio
requests
chromadb
chroma-hnswlib
langchain
langchain-community
langchain-text-splitters
pypdf
openai
python-dotenv
rich
typing-extensions
tqdm
ollama
scikit-learn
joblib
