fastapi
uvicorn[standard]
pytesseract
numpy
Pillow
packaging
pdf2image
chromadb
chroma-hnswlib
langchain
langchain-community
langchain-text-splitters
pypdf
openai
python-dotenv
rich
typing-extensions
tqdm
ollama
scikit-learn
joblib